<library path="src">
  <!-- クラス名が重要なので書き間違えないように -->
  <class name="CoachBox" type="musashi_coachbox.musashi_coachbox_plugin.CoachBoxPlugin" base_class_type="rqt_gui_py::Plugin">
    <description>
      <!-- プラグインの説明です。 -->
      A Python GUI plugin for Hibikino-Musashi CoachBox
    </description>
    <qtgui>
      <group>
        <!-- プラグインのグループを設定します -->
        <!-- rqtを起動したときにPluginsから選択するアレです -->
        <!-- さすがにLoggerではないのでVisualizationにしました -->
        <!-- すでにあるVisualizationのプラグイン（例えばImage Viewを）を参照するのがおすすめ -->
        <label>Visualization</label>
        <icon type="theme">folder</icon>
        <statustip>Plugins related to visualization.</statustip>
      </group>
      <!-- プラグインのラベルです． -->
      <label>CB</label>
      <!-- プラグインのアイコンです。何でもいいと思います。 -->
      <!-- Image Viewと同じにしました。 -->
      <icon type="theme">image-x-generic</icon>
      <!-- プラグイン選択時にrqtウィンドウの１番下に表示される説明文です -->
      <statustip>A Python GUI plugin for Hibikino-Musashi CoachBox</statustip>
    </qtgui>
  </class>
</library>